# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

# Environments
.env
venv/
venv_tf/

# OS
.DS_Store

# Data & Models
data/raw/
*.h5
*.pkl

# Uploads (user-generated)
flask_app/static/uploads/

# Docker
*.log
*.db
*.sqlite3
*.pid

# VSCode
.vscode/